#navbar {
    background-color: #000;
    overflow: auto;
    width: 100%;
    color: #fff;
}
.logo {
    float: right;
    margin-top: 20px;
    margin-right: 50px;
    font-size: 40px;
    margin-bottom: 10px;
}
#navbar ul {
   float: left;
   list-style: none;
 
  
}
#navbar ul li {
    float: left;
    margin-left: 20px;
    color: #fff;
    margin-top: 15px;
}
#navbar ul li a {
    color: #fff;
    text-decoration: none;
}

.flex-container {
    display: flex;
    padding-top: 180px;
    justify-content: space-between;
}
.text {
    margin-right: 100px;
    text-align: justify;
}
/* .flex-container div {
    
} */
p {
    font-size: 25px;
}
.box-1 {
    width: 45%;
    padding-left: 60px;
    padding-top: 100px;
}
.box-2 {
    width: 45%;
}
.img {
    width: 700px;
    height: 600px;
    border: 2px solid black;
}
.icons {
    text-align: center;
    padding-top: 50px;
}